.loyalty-receipts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 32px;

  &-title {
    font-size: 28px;
    font-weight: 600;
    color: $gray-800;
    margin-bottom: 24px;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-input {
      margin-bottom: 0 !important;
      margin-right: 8px;
    }

    &-dropdown {
      margin-right: 8px;
    }

    &-multiple_picker {
      margin-right: 8px;
    }

    &-reset {
      display: flex;
      align-items: center;
      margin-left: 22px;
      cursor: pointer;

      &-icon {
        width: 18px;
        height: 18px;
        margin-right: 8px;
        margin-top: 2px;

        path {
          fill: $danger;
        }
      }

      &-text {
        font-size: 14px;
        color: $danger;
      }
    }

    &-search {
      display: flex;
      justify-content: space-between;
    }
  }

  &-current_receipt {
    display: flex;
    flex-direction: column;
    padding: 24px 32px;

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      &-title {
        display: flex;
        align-items: center;

        &-icon {
          margin-right: 16px;
          cursor: pointer;
        }

        &-text {
          font-size: 28px;
          font-weight: 600;
          color: $gray-800;
        }
      }

      &-buttons {
        display: flex;
        align-items: center;

        &-button {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-icon {
            margin-right: 13px;

            &.-close {
              path {
                fill: $danger;
              }
            }

            &.-warning {
              path {
                fill: $warning;
              }
            }

            &.-approve {
              path {
                fill: white;
              }
            }

          }

          &:first-child {
            margin-right: 8px;
          }
        }
      }
    }

    &-container {
      display: flex;

      &-receipt_image {
        overflow: hidden;
        width: 352px;
        height: 635px;
        border: 1px solid $gray-300;
        border-radius: 6px;
        margin-right: 32px;
        padding: 16px;
        background-color: white;
        cursor: pointer;

        &.-modal {
          width: 704px;
          height: 1270px;
          margin-right: 0;
        }

        &-image {
          background-color: lightgray;
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
      }

      &-tables {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-buttons {
          display: flex;
          margin-top: 30px;
          justify-content: flex-end;

          &-button {
           text-transform: uppercase;

            &:first-child {
              margin-right: 8px;
            }
          }
        }
      }
    }

    &-receipt_modal {
      margin: 0 auto;
    }
  }
}
